{
    email {$CADDY_EMAIL:admin@example.com}
}

{$DOMAIN:localhost} {
    encode zstd gzip

    handle_path /ai/* {
        reverse_proxy ai:8002
    }

    @backend path /api* /sanctum* /up /storage*
    handle @backend {
        reverse_proxy backend:8000 {
            header_up X-Forwarded-Host {host}
            header_up X-Forwarded-Port 443
            header_up X-Forwarded-Proto https
        }
    }

    handle {
        reverse_proxy frontend:80
    }
}
